layout: false
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- css('css/index/style') %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <%- partial('_partial/google-analytics') %>
</head>
<body>
  <div id="wrap">
    <%- partial('_screen/intro') %>
    <%- partial('_screen/team') %>
    <%- partial('_screen/products') %>
    <%- partial('_screen/contact') %>
    <div id="indicator">
      <a href="#intro" id="indicator-intro" class="indicator-link">
        <i class="indicator-background"></i>
        <span class="indicator-text">Intro</span>
      </a>
      <a href="#team" id="indicator-team" class="indicator-link">
        <i class="indicator-background"></i>
        <span class="indicator-text">Team</span>
      </a>
      <a href="#products" id="indicator-products" class="indicator-link">
        <i class="indicator-background"></i>
        <span class="indicator-text">Products</span>
      </a>
      <a href="#contact" id="indicator-contact" class="indicator-link">
        <i class="indicator-background"></i>
        <span class="indicator-text">Contact</span>
      </a>
    </div>
  </div>
  <div id="mobile-nav">
    <a href="#intro" id="mobile-nav-intro" class="mobile-nav-link">Intro</a>
    <a href="#team" id="mobile-nav-team" class="mobile-nav-link">Team</a>
    <a href="#products" id="mobile-nav-products" class="mobile-nav-link">Products</a>
    <a href="#contact" id="mobile-nav-contact" class="mobile-nav-link">Contact</a>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <%- js('js/home') %>
</body>
</html>
