<%- partial('_partial/head') %>

<body>
  <div id="fb-root"></div>
  <%- partial('_partial/header') %>
  <div class="outer">
    <div class="inner">
      <%- body %>
    </div>
  </div>
  <%- partial('_partial/footer') %>
  <%- partial('_partial/after-footer') %>
</body>
</html>